.checkout__container {
  width: 100%;
  background: rgb(231, 224, 224);
  padding: 15px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  position: relative;
  
}
.checkout__info {
  display: flex;
  margin-top: 12px;
  align-items: center;
  justify-content: space-between;
}
.checkout__img {
 flex: 1;

}
.chechout__img img{
 height: 70px;
  margin-right: 15px;
}
.checkout__titel  {
  font-weight: bold;
  font-size: 1.1rem;
  flex: 2;
}
.checkout__buy {
  background: tomato;
  color: rgb(250, 248, 248);
  border: 1px solid;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 15px 5px 15px;
  border-radius: 50%;
  width:50px;
  height: 50px;
  transition: all 0.5s ease-in-out;
  position: absolute;
  top:55px;
  right: 0px;
}
.checkout__buy:hover {
  background: #fff;
  color: tomato;
}
