.checkout__container {
  background: rgb(231, 224, 224);
  padding: 15px;
  margin: 10px;
  display: flex;
  height: 120px;
  position: relative;
}
.checkout__info {
  display: flex;
  margin-top: 12px;
  align-items: center;
  justify-content: space-between;
}
.chechout__img img{
 height: 70px;
  margin-right: 15px;
}
.checkout__titel  {
  font-weight: bold;
  font-size: 1.1rem;
}
.checkout__buy {
  background: tomato;
  color: rgb(250, 248, 248);
  border: 1px solid;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 15px 5px 15px;
  border-radius: 50%;
  width:50px;
  height: 50px;
  transition: all 0.5s ease-in-out;
  position: absolute;
  top:25px;
  right: 0px;
}
.checkout__buy:hover {
  background: #fff;
  color: tomato;
}
.ckeckout__add__sub{
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;

}
.ckeckout__sum{
  cursor: pointer;
 width: 20px;
 height: 20px;
 background-color:tomato;
 border-radius: 50%;
 text-align: center;
 color: white;
}
.checkout__items{
  display: flex;
  margin: 10px;
  align-items: center;
}
.checkout__items .ckeckout__add__sub{
  margin-left: 10px;
}
.ckeckout__add__sub span{
  margin: 5px;
}