.header__container{
    display: flex;
    height: 60px;
    background: rgb(105, 26, 185);
    color: aliceblue;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    min-width: 100%;
}

.header__logo{
    display: flex;
    align-items: center;
    padding: 20px;
    cursor: pointer;
}
.header__text{
    margin: auto;
    font-family:'Italianno';
    font-size: 3.5rem;
    margin-left: 10px;
    color: tomato;
}

.header__searchbar{
    flex:1;
    display: flex;
    align-items: center;
    position: relative;
}
.header__search{
    width:100%;
    padding: 10px;
    outline: none;
    border-radius: 5px;
}
.icon__searchbar{
    position: absolute;
    font-size: larger;
    top:17px;
    right: 8px;
    color: tomato;
    
}
.positon{
   position:sticky;
   top:0px;
   z-index: 30;
   background: rgb(105, 26, 185);
}
.header__searchbar__bottom {
    display: flex;

}
.icon__searchbar__bottom{
    position: absolute;
    font-size: larger;
    top:77px;
    right: 8px;
    color: tomato;
    
}
.navbar{
    display: flex;
    align-items: center;
  
}
.nav__user{
    font-size: 1.2rem;
}
.nav__item{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 20px;
}
.nav__link{
    display: flex;
    flex-direction: column;
    color: white;
}
.nav__link:hover{
    color: white;
}
.nav__item__Sign,.nav__item__shop{
   font-weight: bold;
   font-size: 1.2rem;
}
.nav__itemLineTwo{
    position: absolute;
    right: 16px;
    top: 10px;
    width: 22px;
    height: 22px;
    background: rgb(105, 26, 185);
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    color:tomato
} 
.nav__user{
color: rgb(250, 95, 68);
font-size: 1.5rem;
font-weight: bold;
}


@media (max-width:700px){
    .header__searchbar{
      display: none;
    }
    .header__container{
      justify-content: space-between;
    }
    .header__logo{
        padding: 0;
    }
    .header__text{
        font-size: 2.5rem;
    }
   .nav__item{
    padding:5px;
   }
   .nav__itemLineTwo{
    right: 0;
    top:-2px
   }
}
@media (min-width:700px){
    .header__searchbar__bottom{
      display: none;
    }

}