.product__container{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-end;
   margin: 10px;
   padding: 20px;
   width: 100%;
   max-height: 400px;
   min-width: 100px;
   z-index: 1;
   background: rgb(248, 243, 243);
}
.product__img{
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin: 20px 0 0 15px;
}
.product__container > button{
    background: tomato;
    color: rgb(250, 248, 248);
    margin-top: 15px;
    border: 1px solid;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
}
.product__info{
    height: 100px;
    text-align: center;
}

