.subtotal{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.subtotal__left{
    display: flex;
    align-items: center;
    margin: 20px;
}
.basket__trm{
   font-family:'Italianno' ;
   font-size: 3.5rem;
}
.subtotal__right{
    background: #eee;
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.subtotal__price{
    /* display: flex; */
    margin: 10px;
    padding: 10px;
    font-size: 1.2rem;
    /* align-items: center; */
}
.subtotal__price p{
    margin-right: 20px;
    font-weight: bold;
}

.subtotal__btn{
     background: tomato;
    color: rgb(250, 248, 248);
    margin-top: 15px;
    border: 1px solid;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
}

